.wrapper{
    overflow-x: hidden;
}
.mask{
    background: rgba(0,0,0,0.6);
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index: 999;
    -webkit-overflow-scroll:touch;
}
img{
    vertical-align: top;
}
.time-count{
    position: relative;
}


/* 活动预热 */
.day {
    position: absolute;
    color: #ffffff;
    bottom: 1.5rem;
    left: 3.74rem;
    font-size: 0.24rem;
}

.hour {
    position: absolute;
    color: #ffffff;
    bottom:1.5rem;
    left: 4.5rem;
    font-size: 0.24rem;
}

.minute {
    position: absolute;
    color: #ffffff;
    bottom: 1.5rem;
    left:  5.05rem;
    font-size: 0.24rem;
}

.second {
    position: absolute;
    color: #ffffff;
    bottom:1.5rem;
    left: 5.6rem;
    font-size: 0.24rem;
}

.focus-num{
    position: relative;
}
.focus-num .do-award-num{
    position: absolute;
    top:2.36rem;
    left:3.39rem;
    width: 1rem;
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.28rem;
    text-align: center;
    color:red;
    font-weight: bold;
}

.focus-num .no-get-status{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1.36rem;
    z-index: 99;
}
.focus-num .no-get-status > img{
   width:3.2rem;
   height: 0.8rem;
}
.no-start-get{
    width:3.2rem;
    height: 0.8rem;
}

.wrap {
    width: 100%;
    height: 200px;
    position: absolute;;
    top:-2rem;
    overflow: hidden;
}
.content > li {
    /* animation: all 3000 linear; */
    position: absolute;
    top: -20px;
    line-height: 24px;
    height: 24px;
    width: 40px;
    border-radius: 16px;
    background: rgba(255,0,0,0.8);
    text-align: center;
    color: #fff;
    z-index: 11;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}



/* 活动开始 */
.start-get-award{
    position: relative;
}
.start-get-award .get-status{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0.1rem;
}
.start-get-award .get-status>img{
   width:4rem;
   height: 1rem;
}
.start-big-rotate{
    position: relative;
}
.start-big-rotate .rotate-wrap{
    position: absolute;
    width: 68%;
    top:50%;
    left:50%;
    transform: translate(-50%,-35%)
}
.start-big-rotate .rotate-wrap .point{
    position: absolute;
    width: 30%;
    top:50%;
    left:50%;
    transform: translate(-50%,-62%)
}
.start-award-list{
    position: relative;
}

.my-award{
    position: absolute;
    /* display: inline-block; */
    top:1.4rem;
    left:0.8rem;
    color: #000;
    font-size: 0.28rem;
    text-decoration: underline;
    font-weight: bold;
}
.my-friend{
    position: absolute;
    /* display: inline-block; */
    top:1.4rem;
    right: 0.8rem;
    color: #000;
    font-size: 0.28rem;
    text-decoration: underline;
    font-weight: bold;
}

.get-award-num{
    position: absolute;
    top: 4%;
    left: 44%;
    color:red;
    font-size: 0.28rem;
    font-weight: bold;
    width: .4rem;
    height: 0.32rem;
    line-height: 0.32rem;
    text-align: center;
}

/* 中奖名单 */
.award-list-wrap{
    position: absolute;
    top:2.2rem;
    padding:0 14px;
  }
  .award-header>img{
    width: 100%;
    vertical-align: top;
  }
  .award-list{
    position: relative;
    top:-1px;
    /* height: 102px;
    overflow: hidden; */
    border: 5px solid #FFF600;
    border-top:0;
    border-radius:0 0 6px 6px; 
    padding-top:20px;
    background: #ff4432;
  }
  .award-list-div{
    height: 105px;
    overflow: hidden;
  }
  .award-list-ul{
    margin: 16px 0;
    color: #fff; 
    position: relative;
  }
  .award-list-ul>li{
    margin: 0 4px;
    padding:10px 8px;
    border-bottom: 1px dashed #ccc;
  }
  .award-list-ul>li>div:nth-child(1){
    float: left;
  }
  .award-list-ul>li>div:nth-child(2){
    float: right;
  }




/*活动柜则*/
.rule {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    top: .23rem;
    right: 0;
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    border-radius:4px 0 0 4px; 
}
.menu{
    width: 80%;
    height: 60%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color:#000;
    padding: 15px;
    border-radius:6px;
    line-height: .5rem;
    overflow-y: scroll;
    -webkit-overflow-scroll:touch;
}


/* 底部 */
.base {
    width: 100%;
    background: rgba(242, 242, 242, 1);
    padding-bottom: 50px;
}

.title {
    padding: 0.48rem 15px;
}

.shops {
    font-size: .33rem;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    float: left;
}
.vertical-line{
    font-weight: bolder;
    position: relative;
    bottom: 0.02rem;
}

.title > span {
    float: right;
    font-size: .24rem;
    font-weight: bold;
    color: RGBA(102, 102, 102, 1);
}

.merchant {
    background: white;
    width: 100%;
    /* height: 4rem; */
}

.merchant > .photo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom:0.3rem;
}

.photo > li {
    width: 20%;
    height: auto;
    list-style: none;
    float: left;
    margin-top: .4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.photo img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50% 50%;
    border: 1px solid #E4E4E4;
}

.pic {
    position: relative;
    text-align: center;
}

.sign {
    position: absolute;
    top: 0.5rem;
    left: 0.9rem;
    width: 0.3rem;
    height: 0.3rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
    background: RGBA(31, 189, 175, 1);
    font-size: 0.20rem;
    color: #fff;
    font-size: 10px;
    box-shadow: RGBA(0,0,10px,0.6)
}

.photo span {
    font-size: .16rem;
    color: rgba(51, 51, 51, 1);
    /* margin-left: .15rem; */
    margin-top:2px;
}


.work {
    width: 100%;
    background: #FFF;
    font-size: .34rem;
    margin-bottom: .2rem;
}

.first {
    padding: .2rem .37rem .4rem;
}

.first > .worker {
    float: left;
    font-size: .34rem;
    color: RGBA(32, 37, 31, 1);
    font-weight: bold;
    width: 60%;
    overflow: hidden;
    text-overflow:ellipsis;
    word-wrap: break-word;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
}

.first > .price {
    float: right;
    font-weight: bold;
    color: rgba(236, 97, 42, 1);
}

.nation {
    width: 100%;
    padding: .2rem .37rem;
}

.nation > .place {
    float: left;
    font-size: .26rem;
    color: rgba(96, 96, 96, 1);
}

/*.place>.icon{
    width: .25rem;
    height: .27rem;
}*/
.nation > .date {
    float: right;
    font-size: .22rem;
    color: rgba(206, 206, 206, 1);
    margin-right: .8rem;
}

.insurance {
    padding: .2rem .37rem;
}

.insurance li {
    float: left;
    width: auto;
    height: .3rem;
    margin: .1rem;
    background: rgba(243, 243, 243, 1);
    border-radius: .1rem;
    font-size: .22rem;
    color: rgba(96, 96, 96, 1);
    padding: .1rem;
}

.end {
    padding: .2rem .37rem;
    color: rgba(96, 96, 96, 1);
}

.left > span {
    font-size: .24rem;
    float: left;
}

.left > .aptitude {
    position: relative;
    top:-0.08rem;
    float: left;
    padding:0.05rem 0.10rem;
    height: .26rem;
    line-height: 0.26rem;
    background: rgba(255, 255, 255, 1);
    color: rgba(238, 127, 74, 1);
    border: 1px solid rgba(238, 127, 74, 1);
    margin-left: .08rem;
    font-size: .24rem;
    border-radius: 0.08rem;
}

.employ {
    float: right;
    color: rgba(96, 96, 96, 1);
    font-size: .24rem;
    display: none;
}

.employ span {
    color: RGBA(236, 97, 42, 1);
}

.phone {
    font-size: .22rem;
    color: rgba(102, 102, 102, 1);
    font-weight: bold;
    margin: 5% 27%;
}

.invite-my-friend{
    position: fixed;
    bottom:1%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FF0000;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    left:50%;
    transform: translate(-50%,0);
    width: 70%;
    border-radius:31px; 
    z-index: 99;
    -webkit-overflow-scroll:touch;
}

.award-pack,.share-wrap,.award-crash{
    width: 80%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color:#000;
    padding: 15px;
    border-radius:6px; 
    -webkit-overflow-scroll:touch;
  }


/* 我的奖品 */
.my-award-list{
    position: fixed;
    width: 92%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    -webkit-overflow-scroll:touch;
}
.my-award-list .award-list{
    padding-top:0;
}
.my-award-list .award-list-ul{
    margin-top:0;
    height: 105px;
    overflow: scroll;
}
.close-my-award,.close-my-friend{
    text-align: center;
}
.close-my-award>img,.close-my-friend>img{
    margin-top:20px;
    width: 50px;
    height: 50px
}

 /* 礼包中奖 */
 .award-pack{
    width: 90%;
    background: transparent;
  }
  .submit-form{
    position: absolute;
    padding:0 15%;
    top:56%;
  }
  .submit-form-ul>li{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 15px;
    color: #fff;
  }
  .submit-form-ul>li>input{
    width: 100%;
    height: 0.5rem;
    outline: none;
    border: none;
    margin-top:0.10rem;
    border-radius:6px;
    padding-left:6px; 
  }

  .submit-form-site{
    color: #fff;
    margin-top:0.1rem;
  }
  .submit-form-site>input{
    width: 94%;
    height: 0.5rem;
    outline: none;
    border: none;
    margin-top:0.10rem;
    border-radius:6px;
    padding-left:6px; 
  }
  .submit-form-site>p{
   font-size: 0.24rem;
  }
  .award-num{
    position: absolute;
    top:43%;
    color: #FFFF00;
    font-size: 1.1rem;
    left:25%;
    font-weight: bold;
  }
  .submit{
    position: absolute;
    margin-left:16%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    border-radius: 0.4rem;
    bottom: 10%;
    width: 60%;
    background: #FF000F;
    color:#FFFF00;
    text-align: center;
  }
  
  /* 现金大奖 */
  .award-crash{
    width: 90%;
    background: transparent;
  }
  .crash-num{
    position: absolute;
    top:47%;
    color: #FFFF00;
    font-size: 1.2rem;
    left:22%;
    font-style: italic;
  }
  .confirm{
    position: absolute;
    margin-left:16%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    border-radius: 0.4rem;
    bottom: 7%;
    width: 60%;
    background: #FF000F;
    color:#FFFF00;
    text-align: center;
  }
  
  
  /* 邀请好友 */
  .share-wrap{
    width: 100%;
    background: transparent;
    transform: translate(-50%,-60%);
  }
  .share-wrap ul{
    padding:0 10%;
    position: absolute;
    top:64%;
  }
  .share-wrap ul>li{
    text-align: center;
    float: left;
    width: 33.3%;
    margin-bottom:20px;
  }
  .share-wrap ul>li>img{
    width:1rem;
    vertical-align: top;
  }
  .share-close{
    position: absolute;
    bottom:-10%;
    left:45%;
    text-align: center;
  }
  .share-close>img{
    width: 0.8rem;
  }


/* 登录 */
.login-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11111;
    background-color: rgba(0,0,0,0.6);
    -webkit-overflow-scroll:touch;
    overflow: hidden;
}
.login-mask .login-modal {
    width: 72%;
    margin: 80px auto 0;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 26px 20px;
    box-sizing: content-box;
}
.login-modal .title {
    text-align: center;
    font-size: 16px;
    color: #1FBDAF;
    line-height: 23px;
}
.login-modal .phone-area, .login-modal .skill-area, .login-modal .salary-area {
    margin: 14px 0;
}
#phone-num, #vericode, #skill, #salary {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #c6c6c6;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
#vericode {
    padding-right: 60%;
}
.login-modal .vericode-area {
    position: relative;
    margin-bottom: 20px;
}
#getCode {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #1fbdaf;
    border: none;
    background: #ffffff;
}
#getCode::after {
    content: '|';
    position: absolute;
    left: -20px;
    top: -5px;
    font-size: 20px;
    color: #bbbbbb;
}
.login-modal #login-btn {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background-color: #1FBDAF;
    color: #ffffff;
    border-radius: 50px;
    font-size: 16px;
}






