ul > li {
    list-style: none;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow-x:hidden;
    /* bottom: auto; */
}

.bgImg {
    position: relative;
    width: 7.5rem;
    height: 34.14rem;
    background: url("../images/bgimg.png") no-repeat;
    background-size: 100% 100%;
}

/*活动柜则*/
.rule {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    top: .23rem;
    right: 0;
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
}
.mask{
    background: rgba(134, 83, 83, 0.6);
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index: 999999;
}
.menu{
    width: 80%;
    height: 60%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    background: #fff;
    color:#000;
    padding: 15px;
    border-radius:6px;
    display: none;
    line-height: .5rem;
    overflow-y: scroll;
}

.welfare1 {
    position: absolute;
    width: 6.37rem;
    height: 6.87rem;
    background: url("../images/welfare1.png") no-repeat center;
    background-size: 100% 100%;
    top: 4.68rem;
    left: .57rem;
}

.welfare1 > .day {
    position: absolute;
    color: #ffffff;
    top: 28.5%;
    left: 49.5%;
}

.welfare1 > .hour {
    position: absolute;
    color: #ffffff;
    top: 28.5%;
    left: 62%;
}

.welfare1 > .minute {
    position: absolute;
    color: #ffffff;
    top: 28.5%;
    left: 70.5%;
}

.welfare1 > .second {
    position: absolute;
    color: #ffffff;
    top: 28.5%;
    left: 78.5%;
}

.expressive {
    position: absolute;
    width: 4.3rem;
    height: .9rem;
    background: url("../images/get-award.png") no-repeat center;
    background-size: 100% 100%;
    left: 15%;
    top: 63%;
    z-index: 10;
}

.people {
    position: absolute;
    left: 45%;
    top: 89%;
    width: 1.08rem;
    height: .27rem;
    font-size: .34rem;
    color: rgba(255, 23, 3, 1);
    line-height: .66rem;
}

.welfare2 {
    position: absolute;
    width: 6.37rem;
    height: 4.81rem;
    background: url("../images/welfare2.png") no-repeat center;
    background-size: 100% 100%;
    top: 11.55rem;
    left: .57rem;
}

.welfare3 {
    position: absolute;
    width: 6.37rem;
    height: 4.87rem;
    background: url("../images/welfare3.png") no-repeat center;
    background-size: 100% 100%;
    top: 16.36rem;
    left: .57rem;
}

.welfare4 {
    position: absolute;
    width: 6.37rem;
    height: 9.12rem;
    background: url("../images/welfare4.png") no-repeat center;
    background-size: 100% 100%;
    top: 21.23rem;
    left: .57rem;
}
.welfare4 .my-award{
    position: relative;
    display: inline-block;
    top:1.5rem;
    left:0.4rem;
    color: #000;
    font-size: 0.28rem;
    text-decoration: underline;
    font-weight: bold;
}
.welfare4 .my-friend{
    position: relative;
    display: inline-block;
    top:1.5rem;
    left: 3.1rem;
    color: #000;
    font-size: 0.28rem;
    text-decoration: underline;
    font-weight: bold;
}
.welfare4 .do-award-num{
    position: relative;
    top:6.58rem;
    left:2.88rem;
    color: red;
    font-size: 0.28rem;
}
.slyder {
    position: absolute;
    width: 5.1rem;
    height: 5.05rem;
    background: url("../images/rotate-pane.png") no-repeat center;
    background-size: 100% 100%;
    top: 17%;
    left: 10%;
}

.welfare4 .draw {
    position: absolute;
    width: 1.64rem;
    height: 2.20rem;
    background: url("../images/draw.png") no-repeat center;
    background-size: 100% 100%;
    top: 30%;
    left: 37%;
}

.base {
    width: 100%;
    height: 12.61rem;
    background: rgba(242, 242, 242, 1);
}

.title {
    padding: 0.48rem 15px;
}

.shops {
    font-size: .33rem;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    float: left;
}

.title > span {
    float: right;
    font-size: .24rem;
    font-weight: bold;
    color: RGBA(102, 102, 102, 1);
}

.merchant {
    background: white;
    width: 100%;
    height: 4rem;
}

.merchant > .photo {
    width: 100%;
    height: auto;
    text-align: center;
}

.photo > li {
    width: 20%;
    height: auto;
    list-style: none;
    float: left;
    margin-top: .4rem;
}

.photo img {
    width: 1rem;
    height: 1rem;
    border-radius: 50% 50%;
    border: 1px solid #E4E4E4;
}

.pic {
    position: relative;
    text-align: center;
}

.sign {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: .4rem;
    height: .4rem;
    line-height: 0.4rem;
    border-radius: 50% 50%;
    background: RGBA(31, 189, 175, 1);
    font-size: 10px;
    color: #fff;
    font-size: 10px;
}

.photo span {
    font-size: .16rem;
    color: rgba(51, 51, 51, 1);
    margin-left: .15rem;
}

.wrap {
    width: 100%;
    height: 64%;
    position: relative;
    top: 2.5rem;
    overflow: hidden;
}

.content > li {
    /* animation: all 3000 linear; */
    position: absolute;
    top: -20px;
    line-height: 32px;
    height: 32px;
    width: 60px;
    border-radius: 16px;
    background: red;
    text-align: center;
    color: #fff;
    z-index: 11;
}

.work {
    width: 100%;
    background: #FFF;
    font-size: .34rem;
    margin-bottom: .2rem;
}

.first {
    padding: .2rem .37rem .4rem;
}

.first > .worker {
    float: left;
    font-size: .34rem;
    color: RGBA(32, 37, 31, 1);
    font-weight: bold;
}

.first > .price {
    float: right;
    font-weight: bold;
    color: rgba(236, 97, 42, 1);
}

.nation {
    width: 100%;
    padding: .2rem .37rem;
}

.nation > .place {
    float: left;
    font-size: .26rem;
    color: rgba(96, 96, 96, 1);
}

/*.place>.icon{
    width: .25rem;
    height: .27rem;
}*/
.nation > .date {
    float: right;
    font-size: .22rem;
    color: rgba(206, 206, 206, 1);
    margin-right: .8rem;
}

.insurance {
    padding: .2rem .37rem;
}

.insurance li {
    float: left;
    width: auto;
    height: .3rem;
    margin: .1rem;
    background: rgba(243, 243, 243, 1);
    border-radius: .1rem;
    font-size: .22rem;
    color: rgba(96, 96, 96, 1);
    padding: .1rem;
}

.end {
    padding: .2rem .37rem;
    color: rgba(96, 96, 96, 1);
}

.left > span {
    font-size: .24rem;
    float: left;
}

.left > .aptitude {
    position: relative;
    top:-0.04rem;
    float: left;
    padding:0.05rem 0.10rem;
    height: .26rem;
    line-height: 0.26rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .04rem;
    color: rgba(238, 127, 74, 1);
    border: 1px solid rgba(238, 127, 74, 1);
    margin-left: .08rem;
    font-size: .10rem;
}

.employ {
    float: right;
    color: rgba(96, 96, 96, 1);
    font-size: .24rem;
}

.employ span {
    color: RGBA(236, 97, 42, 1);
}

.phone {
    font-size: .22rem;
    color: rgba(102, 102, 102, 1);
    font-weight: bold;
    margin: 5% 27%;
}

.invite-my-friend{
    height: 63px;
    line-height: 63px;
    text-align: center;
    background: #FF0000;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    width: 80%;
    border-radius:31px; 
    margin-bottom: 20px;
}


/* 中奖名单 */
.award-list-wrap{
    position: absolute;
    top:29.8rem;
    padding:0 14px;
  }
  .award-header>img{
    width: 100%;
    vertical-align: top;
  }
  .award-list{
    position: relative;
    top:-1px;
    /* height: 102px;
    overflow: hidden; */
    border: 5px solid #FFF600;
    border-top:0;
    border-radius:0 0 6px 6px; 
    padding-top:20px;
    background: #FF5747;
  }
  .award-list-div{
    height: 105px;
    overflow: hidden;
  }
  .award-list-ul{
    margin: 16px 0;
    color: #fff; 
    position: relative;
  }
  .award-list-ul>li{
    margin: 0 4px;
    padding:10px 8px;
    border-bottom: 1px dashed #ccc;
  }
  .award-list-ul>li>div:nth-child(1){
    float: left;
  }
  .award-list-ul>li>div:nth-child(2){
    float: right;
  }

/* 我邀请的好友 */
.my-invite-friend .award-list-ul{
    margin-top:0;
    height: 105px;
    overflow: scroll;
}

/* 我的奖品 */
.my-award-list{
    position: fixed;
    width: 92%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.my-award-list .award-list{
    padding-top:0;
}
.my-award-list .award-list-ul{
    margin-top:0;
    height: 105px;
    overflow: scroll;
}
.close-my-award,.close-my-friend{
    text-align: center;
}
.close-my-award>img,.close-my-friend>img{
    margin-top:20px;
    width: 50px;
    height: 50px
}


.mask{
    background: rgba(0,0,0,0.6);
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
  }
  .rules-content,.award-pack,.share-wrap,.award-crash{
    width: 80%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color:#000;
    padding: 15px;
    border-radius:6px; 
  }
  .rules-content li{
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 8px;
  }
  
  /* 礼包中奖 */
  .award-pack{
    width: 90%;
    position: relative;
    background: transparent;
  }
  .submit-form{
    position: absolute;
    padding:0 15%;
    top:56%;
  }
  .submit-form-ul>li{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 15px;
    color: #fff;
  }
  .submit-form-ul>li>input{
    width: 100%;
    height: 0.5rem;
    outline: none;
    border: none;
    margin-top:0.10rem;
    border-radius:6px;
    padding-left:6px; 
  }
  .submit-form-site{
    color: #fff;
    margin-top:0.1rem;
  }
  .submit-form-site>input{
    width: 94%;
    height: 0.5rem;
    outline: none;
    border: none;
    margin-top:0.10rem;
    border-radius:6px;
    padding-left:6px; 
  }
  .award-num{
    position: absolute;
    top:42%;
    color: #FFFF00;
    font-size: 1.2rem;
    left:20%;
    font-style: italic;
  }
  .submit{
    position: absolute;
    margin-left:16%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    border-radius: 0.4rem;
    bottom: 10%;
    width: 60%;
    background: #FF000F;
    color:#FFFF00;
    text-align: center;
  }
  
  /* 现金大奖 */
  .award-crash{
    width: 90%;
    background: transparent;
  }
  .crash-num{
    position: absolute;
    top:47%;
    color: #FFFF00;
    font-size: 1.2rem;
    left:22%;
    font-style: italic;
  }
  .confirm{
    position: absolute;
    margin-left:16%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    border-radius: 0.4rem;
    bottom: 7%;
    width: 60%;
    background: #FF000F;
    color:#FFFF00;
    text-align: center;
  }
  
  
  /* 邀请好友 */
  .share-wrap{
    width: 100%;
    background: transparent;
  }
  .share-wrap ul{
    padding:0 10%;
    position: absolute;
    top:64%;
  }
  .share-wrap ul>li{
    text-align: center;
    float: left;
    width: 33.3%;
    margin-bottom:20px;
  }
  .share-wrap ul>li>img{
    width:1rem;
    vertical-align: top;
  }
  .share-close{
    position: absolute;
    bottom:-10%;
    left:45%;
    text-align: center;
  }
  .share-close>img{
    width: 0.8rem;
  }

/* 登录 */
.login-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
    background-color: rgba(0,0,0,0.6);
}
.login-mask .login-modal {
    width: 72%;
    margin: 80px auto 0;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 26px 20px;
    box-sizing: content-box;
}
.login-modal .title {
    text-align: center;
    font-size: 16px;
    color: #1FBDAF;
    line-height: 23px;
}
.login-modal .phone-area, .login-modal .skill-area, .login-modal .salary-area {
    margin: 14px 0;
}
#phone-num, #vericode, #skill, #salary {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #c6c6c6;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
#vericode {
    padding-right: 60%;
}
.login-modal .vericode-area {
    position: relative;
    margin-bottom: 20px;
}
#getCode {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #1fbdaf;
    border: none;
    background: #ffffff;
}
#getCode::after {
    content: '|';
    position: absolute;
    left: -20px;
    top: -5px;
    font-size: 20px;
    color: #bbbbbb;
}
.login-modal #login-btn {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background-color: #1FBDAF;
    color: #ffffff;
    border-radius: 50px;
    font-size: 16px;
}

