.header{
    margin: 15px 8px;
    padding:8px;
    background: rgba(255,202,61,1);
    color:#fff;
    line-height: 1.5;
    font-size: 10px;
    border-radius: 4px;
}


.no-coupon{
    text-align: center;
}
.no-coupon > img{
    width: 80%;
    margin-top: 40%;
}
.coupon-wrap{
    margin-top:20px;
}
.coupon {
    width: 6.99rem;
    height: 2.59rem;
    background: url("../../assets/images/coupon.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 0.3rem;
}

.award {
    padding: .39rem .53rem .1rem;
    color: rgba(255, 196, 39, 1);
}

.award > .award-go {
    float: left;
    font-size: .34rem;
}

.award > .award_price {
    float: right;
    font-size: .3rem;
}

.date {
    padding: .1rem .53rem;
    font-size: .24rem;
    color: rgba(153, 153, 153, 1);
}

.tip {
    padding: .39rem .53rem;
}

.tip > p {
    float: left;
    width: 4rem;
    height: .3rem;
    font-size: 10px;
    color: rgba(153, 153, 153, 1);
    /* overflow: hidden; */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    margin-top: .2rem;
}

.btn {
    float: right;
    width: 1.7rem;
    height: .6rem;
    margin-top:4px;
    line-height: 0.6rem;
    background: rgba(255, 202, 61, 1);
    border-radius: .3rem;
    color: #fff;
    border: .01rem solid rgba(255, 202, 61, 1);
}
